$html-background-color: #FAFAFA;
$page-background-color: #FFFFFF;
$primary-font-color: #333333;
$accent-font-color: #CC0000;
$hover-font-color: #BF0000;
$active-font-color: #990000;
$link-background-color: #F2F2F2;
