.nav-outer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  background: hsla(0,0%,100%,.95);
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  width: 900px;
  max-width: 900px;
}

.nav-logo{
  font-size: 1em;
  font-weight: 600;
}

.nav-logo>a:hover {
  color: #333333;
}
.nav-logo>a:active {
  color: #333333;
}
.dropdown-button{
  cursor: pointer;
}
.dropdown-section{
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  display:table-row;
  margin-left: 12px;
}
.dropdown-menu{
  position: absolute;
  padding: 0.5em;
  z-index: 1000;
  float: left;
  margin: 0px -0.5em;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

}

.icon-link>a>i{
  font-style: normal;
}

.nav-list{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link{
  font-size: 1em;
  margin-left: 12px;
}

.icon-link-container{
  list-style: none;
  list-style-type: none;
}
.icon-link-container>li{
  list-style-type: none;
  list-style: none;
  list-style-position: none;
}
